@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

:root {
  /* text color */
  --text-color-white: #f1f1f1;
  --text-color-black: #070707;

  /* text size */
  --font-size-big: 26px;
  --font-size-medium: 16px;
  --font-size-regular: 14px;
  --font-size-small: 12px;
  --font-size-micro: 11px;

  /* font-weight */
  --font-weight-bold: 700;
  --font-weight-Mediun: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-weight-thin: 100;

  /* letter-spacing */
  --letter-spacing: -0.03em;
}

html,
body {
  background-color: #ececec;
}

* {
  box-sizing: border-box;
}

.text-kor {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.text-eng {
  font-family: 'Jost', sans-serif;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color-black);
}

dd {
  margin-left: 0;
}

.section {
  margin: 0 16px;
}

/* Logo */
.logo__image {
  width: 34px;
  height: auto;
  display: block;
  position: absolute;
  right: 50%;
  top: -10px;
  transform: translate(50%, 50%);
}

/* Nabvar */
.navbar__links {
  /* display: none; */
}

.navbar__links.open {
  display: block;
}


/* navigation icon for Mobile Layout */
.navicon {
  cursor: pointer;
  height: 60px;
  padding: 28px 15px;
  position: absolute;
  top: 0;
  right: 0;

  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

/* nav icon의 내부 막대 */
.navicon-bar {
  background-color: #333;
  display: block;
  position: relative;
  /* navigation icon animation */
  transition: background-color .2s ease-out;
  width: 20px;
  height: 3px;
}

.navicon-bar::before,
.navicon-bar::after {
  background-color: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  /* navigation icon animation */
  transition: all .2s ease-out;
  width: 100%;
}

.navicon-bar::before {
  top: -7px;
}

.navicon-bar::after {
  top: 7px;
}

/* toggle navigation icon */
.nav-toggle:checked~.navicon>.navicon-bar {
  background: transparent;
}

.nav-toggle:checked~.navicon>.navicon-bar::before {
  transform: rotate(45deg);
  top: 0;
}

.nav-toggle:checked~.navicon>.navicon-bar::after {
  transform: rotate(-45deg);
  top: 0;
}

#nav-toggle.nav-toggle {
  display: none;
}


/* Home */
#home {
  padding-bottom: 20px;
  color: var(--text-color-black);
}

.home__image {
  width: 100%;
  height: auto;
}

#home dl {
  text-align: center;
}

#home dt {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing);
  line-height: 100%;
  margin-bottom: 16px;
}

#home dd {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 40px;
}

.home__dd-enter {
  display: block;
  width: 1px;
  height: 8px;
}

/* Intro */
#intro {
  color: var(--text-color-black);
  padding-bottom: 20px;
}

.intro__title {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 20px;
  margin-left: 16px;
}

.intro__first,
.intro__second {
  margin-bottom: 30px;
}

.intro__first img,
.intro__second img {
  width: 100%;
  height: auto;
}

/* Design */
#design {
  color: var(--text-color-black);
  padding-bottom: 50px;
}

.design__title {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 20px;
  margin-left: 16px;
}

#design img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

/* Gallery */
#gallery {
  color: var(--text-color-black);
  padding-bottom: 60px;
}

.gallery__title {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 20px;
  margin-left: 16px;
}

#gallery img {
  width: 100%;
  height: auto;
}

/* Spec */
#spec {
  color: var(--text-color-black);
  padding-bottom: 15px;
}

.spec__title {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing);
  margin-bottom: 20px;
}

.spec__size-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.spec__size-image img,
.spec__detail-image img {
  display: block;
}

.spec__detail-image {
  width: 100%;
  height: auto;
}

/* .spec__detail {
  width: 100%;
  height: auto;
  background: url('./assets/spec-background.png') center/cover no-repeat;
  background-color: transparent;
}
.spec__detail dl {
  margin: 0 16px;
  border-bottom: 1px solid var(--text-color-black);
} */

/* Contact */
#contact {
  color: var(--text-color-black);
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.contact__title {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-Mediun);
  margin-left: 16px;
  margin-bottom: 16px;
}

.contact__all-info {
  display: flex;
  margin: 0px 16px;
}

.contact__left {
  width: 55%;
  height: auto;
}

.contact__open {
  display: flex;
  margin-bottom: 30px;
}

.contact__open-title {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  margin-right: 12px;
}

.contact__open-time {
  font-size: var(--font-size-micro);
  margin-bottom: 7px;
}

.contact__addr {
  font-size: var(--font-size-micro);
}

.contact__right {
  width: 45%;
  height: auto;
  margin-left: 8px;
  /* margin-right: 8px; */
}

.contact__right dl {
  margin: 0;
  margin-bottom: 16px;
}

.contact__right dl div {
  margin-bottom: 8px;
}

.contact__right dt {
  font-size: var(--font-size-small);
  margin-right: 5px;
}

.contact__right dd {
  font-size: var(--font-size-micro);
}

.contact__right dt,
dd {
  display: inline;
}

.contact__btn {
  width: 100px;
  margin: 0 auto;
}

#contact button {
  width: 100px;
  height: 36px;
  border: none;
  border-radius: 100px;
  color: var(--text-color-white);
  font-size: var(--font-size-medium);
  background-color: #1a1a1a;
}

@media screen and (min-width: 768px) {
  :root {
    /* text size */
    --font-size-big: 30px;
    --font-size-medium: 24px;
    --font-size-regular: 18px;
    --font-size-small: 14px;
    --font-size-micro: 12px;

    /* width */
    --width-size-max: 1440px;
  }

  /* Logo */
  .logo__image {
    width: 80px;
    top: -15px;
  }

  /* Nabvar */

  .nav-toggle {
    display: none;
  }

  .navicon {
    display: none;
  }

  #navbar ul {
    max-width: var(--width-size-max);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    font-size: var(--font-size-medium);
    z-index: 5;
  }

  .navbar__links {
    display: block;
    position: absolute;
    top: 118px;
  }

  .navbar__links li {
    color: var(--text-color-black);
  }

  .navbar__links li:first-child,
  .navbar__links li:nth-child(2) {
    margin-right: 80px;
  }

  .navbar__links li:nth-child(3) {
    margin-right: 300px;
  }

  .navbar__links li:nth-child(4) {
    margin-left: 0;
  }

  .navbar__links li:nth-child(5) {
    margin-left: 165px;
  }

}